{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<div class="page-banner overlay-dark bg-image" style="background-image: url('{% static "assets/img/bg_image_2.jpg" %}');">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
      <h1 class="font-weight-normal">About Us</h1>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->



<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <h3 class="text-center mb-3">Welcome to OneHealth</h3>
        <div class="text-lg">
          <p>Welcome to our Health Center, where health and well-being are at the heart of everything we do. We are more than just a healthcare facility; we are a community dedicated to enhancing the lives of our patients. Our journey began with a simple yet powerful vision: to provide accessible, comprehensive, and compassionate healthcare services. Over the years, we have grown and evolved, expanding our services, and embracing the latest medical advancements to better serve you. Our team of highly skilled healthcare professionals shares a common commitment: your health and happiness.</p>

<p>At our Health Center, we believe that healthcare is not just about treating illnesses; it's about nurturing overall well-being. We are proud to offer a wide range of medical services, from preventive care and routine check-ups to specialized treatments and surgeries. Our state-of-the-art facilities are equipped with cutting-edge technology, ensuring that you receive the best possible care. But it's not just the technology that sets us apart; it's the genuine care and compassion you'll experience during every visit.</p>




<p>Thank you for choosing Your Health Center as your healthcare provider. We are honored to be a part of your health and wellness journey, and we look forward to serving you with the utmost care and dedication.</p>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
