{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h4 class="text-center">Verify Delivery with OTP</h4>
                </div>
                <div class="card-body">
                    {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="otp">Enter OTP :</label>
                            <input type="text" class="form-control" id="otp" name="otp" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Verify Delivery OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
