{% extends "layout/base.html" %}

{% block content %}
<div class="container text-center my-4">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Eo_circle_green_white_checkmark.svg" alt="Successful"
        height="80" width="80" class="mb-2">
    <h1>Payment Successful</h1>
<br>
{% if order_type == "appoinment" %}
<p><strong>Test:</strong> {{ order.main_test.name }}</p>
    <p><strong>Preferred Date:</strong> {{ order.preffered_date }}</p>
    <p><strong>Preferred Time:</strong> {{ order.preffered_time }}</p>
    <p><strong>Full Name:</strong> {{ order.user.first_name }}</p>
    <p><strong>Sample Collection Type:</strong> <span style="text-transform: capitalize;">{{ order.appoinment_type }}</span> Collection</p>
    <button onclick="window.print()">Print</button>
{% else %}
    <!-- Details of ecommerce order -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in order.cartitem_set.all %}
                <tr>
                    <td>{{ cart_item.product.product_name }}</td>
                    <td>₹{{ cart_item.product.product_price }}</td>
                    <td>{{ cart_item.product.brand }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>₹{{ cart_item.total_price }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <p><strong>Total amount:</strong> ₹{{ order.total_amount }}</p>
    </div>
    <button onclick="window.print()">Print</button>
{% endif %}
</div>
{% endblock %}