{% extends "layout/base.html" %}
{% load static %}
{% block extra_css %}
<style type="text/css">
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

    .account-settings .user-profile .user-avatar img {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <label for="profile-pic" class="edit-profile-pic">
                                {% if user.profile_pic %}
                                <img src="{{user.profile_pic}}" alt="{{user.first_name}}"
                                    style="width: 40px; height: 40px;object-fit: cover;border-radius: 50%;">
                                {% else %}
                                <img src="https://api.dicebear.com/7.x/initials/svg?seed={{user.first_name}}"
                                    alt="{{user.first_name}}" style="width: 40px; height: 40px;border-radius: 50%;">
                                {% endif %}
                            </label>
                            <!-- <input type="file" id="profile-pic" accept="image/*" style="display: none;"> -->
                            <h5 class="user-name">{{ user.username }}</h5>
                            <h6 class="user-email">{{ user.email }}</a></h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form class="row gutters" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" id="first-Name" value="{{ user.first_name }}"
                                    name="first_name">
                                <div class="error-message" id="full-name-error" style="color: red; display: none;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Email</label>
                                <input type="email" class="form-control" id="eMail" value="{{ user.email }}"
                                    name="email">
                                    <div class="error-message" id="email-error" style="color: red;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" value="{{ user.phone_number }}"
                                    name="phone">
                                    <div class="error-message" id="phone-error" style="color: red; display: none;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" value="{{ user.username }}"
                                    name="username">
                                    <div class="error-message" id="username-error" style="color: red; display: none;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="street">Home Address</label>
                                <input type="text" class="form-control" id="home"
                                    value="{{ user.address.street_address }}" name="street_address">
                                    <div class="error-message" id="street-address-error" style="color: red; display: none;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" value="{{ user.address.city}}"
                                    name="city">
                                    <div class="error-message" id="city-error" style="color: red; display: none;"></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zip">Zip Code</label>
                                <input type="text" class="form-control" id="zip" value="{{ user.address.pincode }}"
                                    name="pincode">
                                <div class="error-message" id="pincode-error" style="color: red; display: none;"></div>   
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*"
                                    name="profile_pic">
                                <label class="custom-file-label" for="validatedCustomFile">Choose profile
                                    picture...</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>

                    </form>
                    <!-- Rest of your HTML -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#first-Name').on('input', function () {
            var fullName = $(this).val();
            var validFullName = /^[A-Za-z\s]{3,}$/.test(fullName); // Allows letters and spaces, with a minimum of 3 letters

            var errorContainer = $('#full-name-error');

            if (!validFullName) {
                errorContainer.text('Full Name must start with letters, contain only letters and spaces, and have a minimum of 3 letters.');
                errorContainer.show();
            } else {
                errorContainer.text('');
                errorContainer.hide();
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#phone').on('input', function () {
            var phoneNumber = $(this).val();
            var validPhoneNumber = /^[6-9]\d{9}$/.test(phoneNumber);

            if (validPhoneNumber) {
                // Check if all digits are the same or all zeros
                var allSameDigits = /^(.)\1+$/.test(phoneNumber);
                var allZeros = /^0+$/.test(phoneNumber);

                if (allSameDigits || allZeros) {
                    validPhoneNumber = false;
                }
            }

            var errorContainer = $('#phone-error');

            if (!validPhoneNumber) {
                // Display an error message below the input field
                errorContainer.text('Invalid phone number. Please enter a valid 10-digit number starting with 6, 7, 8, or 9.');
                errorContainer.show();
            } else {
                // Clear the error message and hide the error container if the input is valid
                errorContainer.text('');
                errorContainer.hide();
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#home').on('input', function () {
            var streetAddress = $(this).val();
            var validStreetAddress = /^[A-Za-z\s]{3,}$/.test(streetAddress); // At least 3 letters

            var errorContainer = $('#street-address-error');

            if (!validStreetAddress) {
                // Display an error message below the input field
                errorContainer.text('Address must start with letters and contain at least 3 characters.');
                errorContainer.show();
            } else {
                // Clear the error message and hide the error container if the input is valid
                errorContainer.text('');
                errorContainer.hide();
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#zip').on('input', function () {
            var pincode = $(this).val();
            var validPincode = /^[1-9]\d{5}$/.test(pincode); // Starts with a digit (excluding 0) and has 6 digits

            var errorContainer = $('#pincode-error');

            if (!validPincode) {
                // Display an error message below the input field
                errorContainer.text('Invalid pincode. It must start with a non-zero digit and contain 6 digits.');
                errorContainer.show();
            } else {
                // Clear the error message and hide the error container if the input is valid
                errorContainer.text('');
                errorContainer.hide();
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
      const emailInput = $('#eMail'); // Replace with the correct input ID or class
      const errorContainer = $('#email-error'); // Replace with the correct error message container ID or class
  
      emailInput.on('input', function () {
        const email = $(this).val().trim();
        const emailPattern = /^[a-z][a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/; // Updated pattern (no capital letters)
  
        if (!emailPattern.test(email)) {
          errorContainer.text('Invalid email format');
          errorContainer.show();
        } else if (!/@(gmail|mca|ajce|yahoo|amaljyothi\.ac)\.[a-z.]{2,}$/i.test(email)) { // Updated domain check
          errorContainer.text('Invalid email');
          errorContainer.show();
        } else {
          const parts = email.split('@');
          const domainParts = parts[1].split('.');
  
          // Check if the domain is "amaljyothi.ac.in"
          if (domainParts.length === 3 && domainParts[1] === 'ac' && domainParts[2] === 'in') {
            errorContainer.text('');
            errorContainer.hide();
          } else {
            // Check if there is more than one dot in the domain part, except for specific domains
            if (domainParts.length > 2 && !/^(mca\.ajce|ajce\.in|amaljyothi\.ac)$/.test(domainParts.slice(-2).join('.'))) {
              errorContainer.text('Only one dot allowed in the domain part');
              errorContainer.show();
            } else if (email.length > 320) {
              errorContainer.text('Email address is too long. Please use a shorter email address.');
              errorContainer.show();
            } else {
              errorContainer.text('');
              errorContainer.hide();
            }
          }
        }
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
        const usernameInput = $('#username');
        const errorContainer = $('#username-error');

        usernameInput.on('input', function () {
            const username = $(this).val().trim();
            const usernamePattern = /^[A-Za-z][A-Za-z0-9]*$/;
            const currentUsername = "{{ user.username }}"; // Replace with the current user's username

            if (username.length < 3) {
                errorContainer.text('Username must contain a minimum of 3 characters.');
                errorContainer.show();
            } else if (!usernamePattern.test(username)) {
                errorContainer.text('Username must start with letters and can contain digits.');
                errorContainer.show();
            } else if (username === currentUsername) {
                errorContainer.text('You are already using this username.');
                errorContainer.show();
            } else {
                checkUsernameAvailability(username, currentUsername);
            }
        });
    });

    function checkUsernameAvailability(username, currentUsername) {
        $.get("/check_username_availability/", { username: username, currentUsername: currentUsername }, function (data) {
            const errorContainer = $('#username-error');
            if (data.available) {
                errorContainer.text('');
                errorContainer.hide();
            } else {
                errorContainer.text('This username is already registered.');
                errorContainer.show();
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        const cityInput = $('#city');
        const errorContainer = $('#city-error');

        cityInput.on('input', function () {
            const city = $(this).val().trim();
            const cityPattern = /^[A-Za-z\s]{3,}$/; // Allows letters and spaces, with a minimum of 3 letters

            if (!cityPattern.test(city)) {
                errorContainer.text('City must contain only letters and have a minimum of 3 letters.');
                errorContainer.show();
            } else {
                errorContainer.text('');
                errorContainer.hide();
            }
        });
    });
</script>


{% endblock %}