{% load static %}
<header>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-sm">
                    <div class="site-info">
                        <a href="#"><span class="mai-call text-primary"></span> +00 123 4455 6666</a>
                        <span class="divider">|</span>
                        <a href="#"><span class="mai-mail text-primary"></span> mail@example.com</a>
                    </div>
                </div>

            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
    </div> <!-- .topbar -->

    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="text-primary">One</span>-Health</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
                aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="services1.html">Services</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="appoinment.html">Appoinment</a>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- User Profile Dropdown -->
                        <a class="nav-link dropdown-toggle" href="#" id="userProfileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static '/C:/Project/PROJECT/static/assets/img/picon.png' %}" alt="User Icon" class="user-icon"> <!-- User Icon Image -->
                            <span>{{ user.username }}</span> <!-- User's Name -->
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userProfileDropdown">
                          <a class="dropdown-item" href="profile.html">Profile</a>
                          <a class="dropdown-item" href="logout">Logout</a>
                        </div>
                      </li>
                    {% endif %}
                   
                    <!--<li class="nav-item">
          <a class="btn btn-primary ml-lg-3" href="login.html">Login/Signup</a>
        </li> -->
                </ul>
                {% if  not user.is_authenticated %}
                <a href="login.html" class="btn btn-primary ml-lg-3">Login/Signup</a>
                {% endif %}
            </div>
        </div> <!-- .navbar-collapse -->
        </div> <!-- .container -->
    </nav>
</header>